@charset "UTF-8"
*{
    padding:0px;
    margin:0px;
}
body{
    background-image: linear-gradient(90deg,#E4F2E7,#97A6A0,#93BFB7 );
    margin: 10px    
}
.conteiner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    background-color:white;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



